#calculator_modal .modal-content{
    width: 330px;
    margin: auto;
}

.calculator {
    padding: 10px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.calculator .input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 50px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.calculator .input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.calculator .buttons {
    margin-top: 0.5em;
}

.calculator .operators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.calculator .operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.calculator .operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.calculator .operators div:active {
    font-weight: bold;
}

.calculator .leftPanel {
    display: inline-block;
    width: 74%;
}
.calculator .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1em;
}
.calculator .numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.calculator .numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.calculator .numbers div:active {
    font-weight: bold;
}

.calculator div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 1px;
    width: 21%;
    text-align: center;
    padding: 89.5px 14px;
    margin: 13.5px 0px 10px 8px;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .2s ease-in-out;
}

.calculator div.equal:hover {
    background-color: #307CF9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
}

.calculator div.equal:active {
    font-weight: bold;
}