.zoom {
  transition: transform .2s; 
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.4); 
}

#productAddBarcodeBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#productAddBarcodeBtn svg {
  fill: white;
}